:root {
  --header-background-color: #ffffff;
  --header-text-color: #212121;
  --header-text-background-color: #2196f3;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --main-text-title-color: #212121;
  --main-text-color: #757575;
  --footer-background-color: #2f303a;
  --typical-padding: 94px;
}

body {
  font-family: 'Roboto', sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}
button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding: var(--typical-padding) 0;
}
/* -------------------------------HEADER--------------------------------- */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  margin: 0;
  padding-left: 0;
}
.header-link-w {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color, #2196f3);
  margin-right: 93px;
}
.header-studio {
  color: #212121;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color, #212121);
}
.header-list-a:not(:last-child) {
  margin-right: 50px;
}
.header-link.current {
  color: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color, #2196f3);
}

.header-connect-mail,
.header-connect-smartphone {
  fill: currentColor;
  margin-right: 10px;
}
.header-connect {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-connect:hover,
.header-connect:focus {
  color: var(--header-text-background-color, #2196f3);
}

.header-cnt {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 0;
}
.header-cnt-1:not(:last-child) {
  margin-right: 50px;
}
/* ----------------------MAIN-1PAGE------------------ */

.main-title {
  margin: 0 auto;
}
.h1 {
  background: #2f303a;
  padding: 200px 0;
}
.cursor {
  cursor: pointer;
}
.specific {
  padding-bottom: 0;
}
.main-title-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 696px;
}
.main-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--header-text-background-color, #2196f3);
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  padding: 10px 32px;
  position: relative;
}
.main-btn:hover {
  background-color: #188ce8;
}

/* --------------------OVERLay------------------------ */
.overlay {
  max-width: 1600px;
  height: 600px;
  outline: 1px solid black;
  margin: 0 auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/fon-comand.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-specific {
  background-color: var(--main-background-color, #ffffff);
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.main-specific li {
  width: 270px;
}
.main-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  color: var(--main-text-title-color, #212121);
  margin-bottom: 50px;
}
.main-heading-img {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.main-specific-aside {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px 0;
}
.main-specific-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-title-color, #212121);
  margin: 0 0 10px 0;
}
.main-specific-content {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color, #757575);
  margin: 0;
}
.main-team {
  background: #f5f4fa;
}
.main-our-team {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  padding: 0;
}
.main-our-team-box {
  margin: 15px;
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.main-our-team-box-aside {
  padding: 30px 0;
}
.main-our-team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-title-color, #212121);
  margin: 0 0 10px 0;
}
.main-our-team-prof {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color, #757575);
  margin: 0 0 16px 0;
}
/* ---social--for---team---- */
.main-our-team-list {
  display: flex;
  justify-content: center;
}
.main-our-team-soc:not(:last-child) {
  margin: 0 10px 0 0;
}

.main-our-team-soc-link {
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-our-team-soc-icon {
  fill: #afb1b8;
}
.main-our-team-soc-link:hover {
  background-color: #2196f3;
}
.main-our-team-soc-link:focus {
  background-color: #2196f3;
}
.main-our-team-soc-link:hover .main-our-team-soc-icon {
  fill: #fff;
}
.main-our-team-soc-link:focus .main-our-team-soc-icon {
  fill: #fff;
}

/* -------permanent-clients--------- */
.permanent-clients-group {
  display: flex;
  justify-content: space-between;
}
.permanent-clients-item {
  width: 170px;
  height: 92px;
}
.permanent-clients-group svg {
  fill: #afb1b8;
}
.permanent-clients-link:hover {
  border-color: #2196f3;
  cursor: pointer;
}
.permanent-clients-link:focus {
  border-color: #2196f3;
  cursor: pointer;
}
.permanent-clients-link:hover .permanent-clients-icon {
  fill: #2196f3;
}
.permanent-clients-link:focus .permanent-clients-icon {
  fill: #2196f3;
}
.permanent-clients-link {
  display: flex;
  border: 1px solid #afb1b8;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: 100%;
}
.permanent-clients-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  color: var(--main-text-title-color, #212121);
  margin-bottom: 50px;
}

/* ----------------MAIN--PORTFOLIO------------------- */

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 50px 0;
}
.main-filter {
  padding: 0px;
}
.main-filter:not(:last-child) {
  margin-right: 8px;
}
.main-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  color: var(--header-text-color, #212121);
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
}
.main-button.current {
  color: var(--main-background-color);
  background-color: var(--accent-color, #2196f3);
}
.main-button:hover,
.main-button:focus {
  color: #ffffff;
  background-color: var(--header-text-background-color, #2196f3);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.portfolio-list li {
  margin: 13px;
  border: 1px solid #eeeeee;
}
.portfolio-list a {
  display: block;
}
.portfolio-list a:hover,
.portfolio-list a:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.main-ptf {
  background-color: var(--main-background-color);
}
.main-ptf-subtitle {
  display: block;
  padding: 20px 24px;
  justify-content: space-around;
  background: #ffffff;
}
.main-ptf-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-title-color, #212121);
  margin: 0 0 4px 0;
}
.main-ptf-site {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color, #757575);
  margin: 0;
}

/* -------------------------------FOOTER--------------------------------- */
.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer > .container {
  display: flex;
  align-items: baseline;
}
.footer-link-w {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--accent-color, #2196f3);
  display: block;
  margin: 0 0 20px 0;
}
.footer-studio {
  color: #ffffff;
}
.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-address p {
  margin: 0;
}
.footer-link a {
  color: rgba(255, 255, 255, 0.6);
}
.footer-link li:not(:last-child) {
  margin-bottom: 9px;
}

/* ---social--for---footer---- */
.social {
  margin-left: 70px;
}
.social-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.social-list a {
  fill: #fff;
  background: rgba(255, 255, 255, 0.1);
}
.social-list {
  display: flex;
  justify-content: center;
}
.social-soc:not(:last-child) {
  margin: 0 10px 0 0;
}
.social-soc-link {
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-soc-link:hover {
  background-color: #2196f3;
}
.social-soc-link:focus {
  background-color: #2196f3;
}
